.navbar {
      background-color: #ffffff; /* White background for navbar */
    }

    .card {
      background-color: #ffffff; /* White background for cards */
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #046559;
    color: #fff;
}

#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #046559;
    z-index: 1000;
}

#main-content {
    transition: filter 0.5s ease-in-out; /* Blur effect duration and easing */
    z-index: 2000; /* Set a higher z-index for main content */
}

.loaded #main-content {
    filter: blur(0); /* Make content clear when loaded */
}

/* Additional styles for the card */
.card {
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
    border-radius: 10px; /* Border radius for rounded corners */

}
    .navbar-brand {
            font-family: 'Arial', sans-serif; /* Choose a suitable font */
            font-size: 24px; /* Adjust the font size as needed */
            font-weight: bold; /* Adjust the font weight as needed */
            color: #015d52;
        }
