{% extends 'navbar.html' %}
{% block content %}
  <div class="card border-dark mb-3" style="max-width: 100rem;">
    {% for hospital in hospitals %}
    <div class="card-header">{{ hospital.name }}</div>
    <div class="card-body text-dark">
      <div class="row">
        <div class="col-md-4">
          <img class="card-img-top" src="{{ hospital.hospital_img.url }}" alt="{{ hospital.name }}" height="300px" width="100px">
        </div>
        <div class="col-md-8">
          <p class="card-text">{{ hospital.description }}</p>
          <p class="card-text">{{ hospital.city }}, {{ hospital.state }} - {{ hospital.zip_code }}</p>
          <button ><a href="/doctor/{{hospital.id}}" style="text-decoration: none; color: black;">view details</a></button>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
{% endblock %}