<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Registration</title>
    <link rel="stylesheet" href="../static/Uregister.css" />
</head>
<body>

<div class="container">
    <form method="post" enctype="multipart/form-data" action="{% url 'hospital:Uregister' %}">
        {% csrf_token %}

        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Enter your name" required>

        <label for="mobile">Mobile:</label>
        <input type="text" name="mobile" placeholder="Enter your mobile number" required>

        <label for="specialist">Blood_gorup:</label>
        <input type="text" name="specialist" placeholder="Enter your specialist" required>

        <label for="experience_in_year">   Allergies_description:</label>
        <input type="number" name="experience_in_year" placeholder="Enter your experience" required>

        

        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>
